* {

	margin: 0;
	padding: 0;
	list-style: none; /* Enlever les points des ul li */
	text-decoration: none; /* Enlever les soulignages */
	font-family: "poppins"; /* Police */
	scroll-behavior: smooth; /* Scroll lisse */

}

h1,
h2,
h3,
h4,
h5,
h6,
button {
	
}

body {
	overflow-x: hidden;
	max-width: 1920px;
}

/* HEADER */

header {
	height: 120px;
	width: 100%;
	right: 0;
	left: 0;
	position: absolute;
	justify-content: center;
}


header .container {

	width: 1500px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header .container ul{

	display: flex;
}

header .menu {
	margin-right: 40px;
	align-items: center;
}

header .container ul a{

	font-size: 1.2em;
	font-weight: 500;
	margin: 0 10px;
	color: black;
}

header .logo img{
		height: 70px;
		width: 70px;
	}

@media (max-width: 1500px) {
	header {
		position: relative;
		background-color: #63C132;
	}
	header .container {
		width: 100%;
	}
	header .container ul a{
		color: white;
	}
}

@media (max-width: 1100px) {
	
	header .logo {
		display: none;
	}
	header .container {
		justify-content: center;
	}
	header .container ul a {
		margin: 0 5px;
	}
}

@media (max-width: 800px) {
	
	header .container {
		display: inline;
		font-size: 0.9em;
	}
	header .login {
		display: none;
	}
	header .don {
		display: none;
	}
	header .onglet .menu {
		text-align:  center;
	}
}

header .menu a:hover {
	color: #358600;
	font-weight: bold;
}

.onglet button {
	position: relative;
	height: 50px;
	width: 200px;
	border-radius: 50px;
	border: 3px solid #358600;
	background-color: transparent;
	font-size: 1em;
	color: #358600;
	z-index: 2;
	overflow: hidden;
}

.onglet button:hover {
	color: #9EE37D;
	transition: 0.3s;
	width: 220px;
}

.onglet button::before {
	top: -2px;
	left: -2px;
	content: "";
	position:  absolute;
	height: 50px;
	width: 220px;
	border-radius: 50px;
	background-color: #358600;
	transform: translate(-100%);
	transition: 0.3s;
	z-index: -1;
}

.onglet button:hover::before {
	transform: translate(0%);
}

.onglet button i {
	transform: scale(0);
	margin:  -10px;
	transition: 0.3s;
}

.onglet button:hover i {
	transform: scale(1);
	margin-left: 20px;
}




/* SECTION 1 */

@media (min-width: 1500px) {
	.sec1 {
		height: 100vh;
		width: 100%;
		background-image: url(../img/Alimentations/bg.png);
		background-color: #9EE37D;
		background-repeat: no-repeat;
		background-position: right;
		background-size: 50em;

	}
	.bg-responsive {
		display: none;
	}
}

.sec1 .container {

	width: 1500px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.sec1 h1 {
	color: #358600;
	font-size: 8em;
	margin-bottom: 70px;
}

.sec1 button {
	position: relative;
	height: 70px;
	width: 250px;
	border-radius: 50px;
	border: 3px solid #358600;
	background-color: #9EE37D;;
	font-size: 1.5em;
	color: #358600;
	z-index: 2;
	overflow: hidden;
}

.sec1 button:hover {
	color: #9EE37D;
	transition: 0.3s;
	width: 280px;
}

.sec1 button::before {
	top: -2px;
	left: -2px;
	content: "";
	position:  absolute;
	height: 70px;
	width: 280px;
	border-radius: 50px;
	background-color: #358600;
	transform: translate(-100%);
	transition: 0.3s;
	z-index: -1;
}

.sec1 button:hover::before {
	transform: translate(0%);
}

.sec1 button i {
	transform: scale(0);
	margin:  -10px;
	transition: 0.3s;
}

.sec1 button:hover i {
	transform: scale(1);
	margin-left: 20px;
}

@media (max-width: 1500px) {
	.sec1 .container{
		text-align: center;
		justify-content: center;
		width: 100%;
	}
	.sec1 {
		height: 100%;
		background-color: #9EE37D;
	}
	.sec1 h1 {
		margin-top: 100px;
	}
	.sec1 .bg-responsive {
		margin-top: 50px;
	}
	.sec1 .bg-responsive img {
		width: 500px;
		padding-bottom: 50px;
	}
}

@media (max-width: 950px) {
	
	.sec1 h1 {
		font-size: 6em;
		margin-bottom: 60px;
	}
}

@media (max-width: 700px) {
	
	.sec1 .bg-responsive img {
		width: 70%;
		margin-bottom: 25px;
	}
	.sec1 h1 {
		font-size: 4em;
		margin-bottom: 60px;
	}
}

@media (max-width: 500px) {
	
	.sec1 h1 {
		font-size: 3em;
		margin-bottom: 60px;
	}
}

/* TRANSITION */

.transition {
	position: absolute;
	width: 100%;	
	transform: translateY(-50%);
	z-index: 3;


}

.transition img{
	width: 100%;	
	filter: drop-shadow(0px 10px 5px #acc4e8);
	height: 300px;
}

/* SECTION 2 */

.sec2 {
	background-color: #232323;
	padding-top: 120px;
	position:  relative;
	z-index: 2;
}

.sec2 .container {
	width: 1500px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sec2 .title {
	position: relative;
	width: 100%;
	text-align: center;
	color: white;
	font-size: 3em;
	margin-bottom: 100px;
}

.sec2 img {
	height: 500px;
	width: 550px;
}

.sec2 .title::before {
	content: "";
	position: absolute;
	height: 30px;
	width: 200px;
	border-radius: 10px;
	background-color: #63C132;
	clip-path: polygon(
		0 0,
		100% 0,
		100% 80%,
		80% 35%,
		64% 100%,
		48% 35%,
		31% 100%,
		16% 35%,
		0 80%
		);
	top: 100%;
	left: 50%;
	transform: translate(-50%);
}


.sec2 .content {
	color: white;
}

.sec2 h2 {
	font-size: 2.5em;
}

.sec2 .Titre {
	display: flex;
	align-items: center;
}

.sec2 .point {
	margin-right: 20px;
	width: 20px;
	height: 20px;
	background-color: #358600;
	border-radius: 50px;
	border: 3px solid #9EE37D;
}

.sec2 .separateur {
	width: 75px;
	height: 7px;
	background-color: #63C132;
	border-radius: 0 50px 50px 0;
	margin: 25px 0;
}

.sec2 p {
	max-width: 600px;
	font-size: 20px;
}

.sec2 .content {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

@media (min-width: 1500px) {

	.content-top .left {
		 max-width: 700px;
	}

	.content-bottom .right {
		 max-width: 700px;
	}

}

@media (max-width: 1500px) {

	.sec2 .content {
		margin: 50px 0;
	}

	.sec2 .content img {
		width: 90%;
	}

	.sec2 .content-top {
		flex-direction: column;
	}
	
	.sec2 .content-bottom {
		flex-direction: column-reverse;
	}

	.sec2 .container {
		width: 100%;
		text-align: center;
	}

	.sec2 p {
		max-width: 900px;
		margin: 0 50px;
	}

	.sec2 .content-top .left, .content-bottom .right{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 50px; 
	}

	.sec2 .Titre {
		justify-content: center;
		flex-direction: column;
	}

	.sec2 .point {
		margin-right: 0px;
	}
}


/* SECTION 3 */

.sec3 {
	position: relative;
	z-index: 1;
	overflow: hidden;
	height: 1080px;
	background-image: url(../svg/1.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;
	display: flex;
	align-items: center;
	filter: drop-shadow(5px 5px 10px #000);

}

.sec3 .container {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}


.sec3 h1 {
	color: white;
	font-size: 4em;
	margin-top: 150px;
}

.sec3 img {
	height: 450px;
	width: 500px;
}


.sec3 .separateur {
	width: 100px;
	height: 7px;
	background-color: #63C132;
	border-radius: 0 50px 50px 0;
	margin: 50px 0;
}

.sec3 p {
	color: white;
	max-width: 600px;
	margin-bottom: 50px;
	transform: translateX(-50px);
	font-size: 20px;
}

.sec3 button {
	position: relative;
	height: 60px;
	width: 220px;
	border-radius: 50px;
	border: 3px solid white;
	background-color: transparent;
	font-size: 1.5em;
	color: white;
	z-index: 2;
	overflow: hidden;
}

.sec3 button:hover {
	color: #658600;
	transition: 0.3s;
	width: 280px;
}

.sec3 button::before {
	top: -2px;
	left: -2px;
	content: "";
	position:  absolute;
	height: 70px;
	width: 280px;
	border-radius: 50px;
	background-color: white;
	transform: translate(-100%);
	transition: 0.3s;
	z-index: -1;
}

.sec3 button:hover::before {
	transform: translate(0%);
}

.sec3 button i {
	transform: scale(0);
	margin:  -10px;
	transition: 0.3s;
}

.sec3 button:hover i {
	transform: scale(1);
	margin-left: 20px;
}

.sec3 .right img {
	width: 100%;
}

@media (max-width: 1550px) {

	.sec3 .right {
		max-width: 400px;
		text-align: center;
	}
}

@media (max-width: 1050px) {

	.sec3 .container {
		flex-direction: column;
	}

	.sec3 .left {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.sec3 .separateur {
		border-radius: 50px;
	}

	.sec3 p {
		margin: 0 50px;
		transform: translateX(0px);
	}

	.sec3 button {
		margin: 50px 0;
	}

	.sec3 .right {
		max-width: 50%;
		text-align: center;
	}
}

/* SECTION 4 */

.sec4 {
	position: relative;
	height: 750px;
	background-image: url(../svg/3.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;
	z-index: 2;
	filter: drop-shadow(3px 5px 4px #232323);
	top: -2px;
}

.sec4 .content {
	display: flex;
	flex-direction: row;
	height: 100%;
	align-items: center;
}

.sec4 .left {
	margin: 0 170px 0 110px;
}

.sec4 .mid {
	width: 600px;
}


.sec4 .mid h1 {
	font-size: 3em;
	color: white;
}

.sec4 .mid h2 {
	font-size: 2em;
	color: white;
}

.sec4 .mid p {
	max-width: 400px;
	color: white;
	margin: 50px 0;
	font-size: 20px;
}

.sec4 button {
	position: relative;
	height: 60px;
	width: 220px;
	border-radius: 50px;
	border: 3px solid white;
	background-color: transparent;
	font-size: 1.5em;
	color: white;
	z-index: 2;
	overflow: hidden;
}

.sec4 button:hover {
	color: #358600;
	transition: 0.3s;
	width: 280px;
}

.sec4 button::before {
	top: -2px;
	left: -2px;
	content: "";
	position:  absolute;
	height: 70px;
	width: 280px;
	border-radius: 50px;
	background-color: white;
	transform: translate(-100%);
	transition: 0.3s;
	z-index: -1;
}

.sec4 button:hover::before {
	transform: translate(0%);
}

.sec4 button i {
	transform: scale(0);
	margin:  -10px;
	transition: 0.3s;
}

.sec4 button:hover i {
	transform: scale(1);
	margin-left: 20px;
}

.sec4 .right {
	position: relative;
	left: -100px;
	z-index: -1;
}

.sec4 .left img {
		height: 500px;
		width: 500px;
		margin-right: 150px;
}
.sec4 .right img {
		height: 400px;
		width: 300px;
}



@media (max-width: 1750px){

	.sec4 .right {
		display: none;
	}

}

@media (max-width: 1350px){

	.sec4 {
		filter: none;
	}

	.sec4 .content {
		flex-direction: column-reverse;
		transform: translateY(-50px);
	}

	.sec4 .left {
		margin: 0;
		transform: translateX(60px) translateY(60px);
	}

	.sec4 .left img {
		width: 350px;
	}

	.sec4 .mid {
		text-align: center;
		margin-bottom: 20px;
		width: 90%;

	}

	.sec4 .mid p {
		margin: 30px auto;
		max-width: 550px;
		line-break: anywhere;
	}

	.sec4 .mid h1,
	.sec4 .mid h2,
	.sec4 .mid p {
		color: #358600;
	}

	.sec4 button {
		border: 3px solid #358600;
		color: #358600;
	}

	.sec4 button:hover {
		color: #9EE37D;
		transition: 0.3s;
		width: 280px;
	}

	.sec4 button::before {
		background-color: #358600;
	}

	.sec4 .left img {
		width: 60%;
		height: 60%;
		margin-bottom: 10px;
	}
}

/* Onglet Slide */

.onglet-slide {
	position: fixed;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 30px;
	z-index: 9999;
}

.onglet-slide a {
	height: 12px;
	width: 12px;
	margin: 5px 0;
	background-color: #9EE37D;
	border: 3px solid #358600;
	border-radius: 50px;
}

.onglet-slide .active {
	background-color: #358600;
}

@media (max-width: 1000px) {

	.onglet-slide {
		display: none;
	}
}
